@import "tailwindcss";
@plugin "daisyui";

@theme {
	--color-team: #32a7dc;
}

input {
  --font-size: 1.5rem;
  --size: 2.5rem;
  text-align: center;
	width: 100%;
}

select {
	--font-size: 1.5rem;
	--size: 2.5rem;
	text-align: center;
	width: 100%;
}
